:root {
    --grid-color: #3e3a36;
}

body{
    font-family: "Inconsolata";
    background-color: #2f2c29;
    overflow: hidden;
}

#canvas {
    z-index: -99999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-image:
    repeating-linear-gradient(
        90deg,
        var(--grid-color),
        var(--grid-color) 1px,
        #0000 1px,
        #0000 150px
    ),
    repeating-linear-gradient(
        180deg,
        var(--grid-color),
        var(--grid-color) 1px,
        #0000 1px,
        #0000 150px
    ); */
}